// 已经自动导入，在所有文件下均可使用下列变量 
$--color-primary: #4487FA;

$--bg-blue: #2979ff;
$--bg-gray: #f6f7f9;
$--bg-white: #fff;
$--bg-black:#070D29;
$--text-gray:  #3D4248;;
$--text-blue: #2979ff;
$--text-green: #19be80;
$--text-black:#292f36;
$--text-white:#fff;
$--border-color:#E1E2E6;